.startScreen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vmin;
    top: 50%;
    left: 50%;
    border-radius: 7px;
    border: 2px solid #b12929;
    transform: translate(-50%, -50%);
    background-color: rgba(38, 36, 34, 0.95);
    transition: opacity 1000ms, visibility 1000ms;
}

.text {
    color: #b12929;
    font-weight: bold;
    font-family: "Courier New", monospace;
}

.largeHeading {
    font-size: 15vmin;
    white-space: nowrap;
    overflow: hidden;
}

.heading {
    font-size: 10vmin;
}

.message {
    font-size: 5vmin;
}

.welcomeMessage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
}

.handChooser {
    padding: 2vmin;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0vmin;
    width: fit-content;
    height: fit-content;
}

.iconButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
    border: none;
    margin-left: 1vmin;
    margin-right: 1vmin;
    background-color: transparent;
    transition: opacity 600ms, visibility 600ms;
}

.iconToChoose {
    max-width: 15vmin;
    max-height: 15vmin;
}

.iconToChoose:hover {
    background-color: #0e0e0e;
    border-radius: 7px;
    padding: 2vmin;
    border: 2px solid #b12929;
}

.settingsButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7vmin;
    height: 7vmin;
    border: none;
    margin: 2vmin;
    background-color: transparent;
    transition: opacity 600ms, visibility 600ms;
}

.settingsIcon{
    max-width: 7vmin;
    max-height: 7vmin;
}

.settingsIcon:hover {
    background-color: #0e0e0e;
    border-radius: 7px;
    padding: 1vmin;
    border: 2px solid #b12929;
}

.settingsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 5vmin;
    padding-top: 5vmin; 
    padding-bottom: 5vmin; 
}

.settingsTextLeft {
    text-align: left;
}